<!DOCTYPE html>
<head>
    <link rel="stylesheet" type="text/css" href="../css/style.css">
    <link rel="stylesheet" type="text/css" href="../css/home.css">
    <meta charset="utf-8">
    <title>Strona główna</title>
</head>
<body>
<div class="container">
    <div class="navigation">
        <div class="logo">
            <img class="logo">
        </div>
        <p>Strona Główna</p>
        <p>Szafa</p>
        <p>Zakupy</p>
        <p>Społeczność</p>
        <p>Ustawienia</p>
        <div class="icons">
            <img class="search">
            <img class="notifications">
            <img class="account">
        </div>
        </div>
    <div class="container2">
        <div class="quick-access">
            <div class="clipboard">
                <p>Schowek</p>
            </div>
            <div class="quick-add">
                <button>+Dodaj nową rzecz</button>
                <button>+Stwórz walizkę</button>
                <button>+Stwórz stylizację</button>
            </div>
            <div class="calendar">
                <p>Kalendarz</p>
            </div>
        </div>
        <div class="content">
            <div class="recently-added">
                <p>Ostatnio dodane</p>
            </div>
            <div class="recommendations">
                <p>Polecane dla ciebie</p>
            </div>
            <div class="loyalty-cards">
                <p>Karty lojalnościowe</p>
            </div>
            <div class="favourite-shops">
                <p>Ulubione sklepy i marki</p>
            </div>
        </div>
    </div>
    <div class="footer"></div>
</div>
</body>