<!DOCTYPE html>
<head>
    <link rel="stylesheet" type="text/css" href="../css/style.css">
    <link rel="stylesheet" type="text/css" href="../css/register.css">
    <meta charset="utf-8">
    <title>Zarejestruj się</title>
</head>
<body>
<div class="container">
    <div class="theme">
<!--        <div class="logo">-->
<!--            <img src="../img/logo.svg">-->
<!--        </div>-->
        <div class="title">
            <p>Stwórz swoją wirtualną szafę</p>
        </div>
        <div class="subtitle">
            <p>Stylizacje, planery, porady...</p>
        </div>
    </div>
    <div class="register-container">
        <form class="register">
            <div class="register1">
                <input name="imie" type="text" placeholder="Imie">
                <input name="nazwisko" type="text" placeholder="Nazwisko">
                <input name="username" type="text" placeholder="Username">
            </div>
            <div class="register2">
                <input name="email" type="text" placeholder="email@email.com">
                <input name="password" type="password" placeholder="Hasło">
                <input name="password" type="password" placeholder="Potwierdź hasło">
            </div>
            <button>Zarejestruj się</button>
            <p>Masz już konto?</p>
                <button>Zaloguj się</button>
        </form>
    </div>
</div>
</body>