<!DOCTYPE html>
<head>
    <link rel="stylesheet" type="text/css" href="../css/style.css">
    <link rel="stylesheet" type="text/css" href="../css/wardrobe.css">
    <link rel="stylesheet" type="text/css" href="../css/main_menu.css">
    <meta charset="utf-8">
    <title>Szafa</title>
</head>
<body>
<div class="container">
    <div class="navigation">
        <div class="logo">
            <img class="logo">
        </div>
        <p>Strona Główna</p>
        <p>Szafa</p>
        <p>Zakupy</p>
        <p>Społeczność</p>
        <p>Ustawienia</p>
        <div class="icons">
            <img class="search">
            <img class="notifications">
            <img class="account">
        </div>
        </div>
    <div class="container2">
        <div class="quick-access">
            <div class="clipboard">
                <p>Schowek</p>
            </div>
            <div class="quick-add">
                <button>+Dodaj nową rzecz</button>
                <button>+Stwórz walizkę</button>
                <button>+Stwórz stylizację</button>
            </div>
            <div class="calendar">
                <p>Kalendarz</p>
            </div>
            <div class="add-event">
                <button>+Dodaj wydarzenie</button>
            </div>
        </div>
        <div class="content">
            <div class="warderobe">
                <p>Szafa</p>
            </div>
            <div class="container3">
                <div class="stylizations">
                    <p>Stylizacje</p>
                </div>
                <div class="suitcases">
                    <p>Walizki</p>
                </div>
            </div>
        </div>
    </div>
    <div class="footer"></div>
</div>
</body>