.items::-webkit-scrollbar {
    width: 0.5em; height: 0.5em;
}
.items::-webkit-scrollbar-track {
    background-color: #121212;
}
.items::-webkit-scrollbar-thumb {
    background-color: #414141;
    border-radius: 30px;
}
.items::-webkit-scrollbar-corner {
    background-color: #121212;
}
.container3{
    display: flex;
    flex-direction: row;
    width: 100%;
    height:80%;
    background: #4f4f4f;
}
.add-stylization {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 1em;
}
h4 {
    text-align: start;
    font-family: Arial, serif;
    margin: 0.25em;
}
.add-stylization input {
    width: 15%;
    height: 2em;
    background: white;
    text-align: start;
    font-size: 1em;
    border: #404040FF solid 1px;
    border-radius: 0.5em;
    margin-top: 1em;
}
#item > input {
    width: 10%;
    margin: 0 0 1em 0;
}
.add{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 90%;
    margin-right: 1em;
}
.text-input {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #1e1e1e;
    padding: 1em;
    margin: 1em;
    width: 50%;
}

input {
    margin-bottom: 1em;
}

#item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.items {
    display: flex;
    flex-direction: row;
    overflow: auto;
    justify-content: start;
    align-items: center;
    width: 100%;
    margin-bottom: 1em;
}
.items > #item > img {
    overflow: auto;
    width: 9em;
    height: 9em;
    object-fit: cover;
    border-radius: 1em;
    margin: 1em;
}
@media only screen and (max-device-width: 420px) {

}