.add-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    width: auto;
    margin-left: 1em;
}

.add-item input {
    width: 15%;
    height: 2em;
    background: white;
    text-align: start;
    font-size: 1em;
    border: #404040FF solid 1px;
    border-radius: 0.5em;
    margin-top: 1em;
}

.add-item textarea {
    width: 20%;
    height: 3em;
    background: white;
    text-align: start;
    font-size: 1em;
    border: #404040FF solid 1px;
    border-radius: 0.5em;
    margin-top: 1em;
}

.categories {
    height: auto;
    width: auto;
    display: grid;
    grid-template-columns: repeat(20, 1fr);
    overflow: auto;
    margin-left: 1em;
    margin-right: 1em;
    align-items: center;
}

.color-list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}

#color > input {
    width: 1em;
    height: 1em;
    background: black;
    margin: 0.2em 1em 0.2em 0;
}

#color {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#color-circle {
    width: 2em;
    height: 2em;
    border-radius: 2em;
    margin: 0.5em 1em 0.5em 0;
}

#file {
    padding: 1em;
    background: none;
    height: auto;
    width: auto;
}

#description {
    width: 30%;
    height: 5em;
}

.text-input {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #1e1e1e;
    padding: 1em;
    margin: 1em;
    width: 50%;
}

@media only screen and (max-device-width: 420px) {

}
