.recently-added::-webkit-scrollbar {
    width: 0.5em;
    height: 0.5em;
}

.recently-added::-webkit-scrollbar-track {
    background-color: #121212;
}

.recently-added::-webkit-scrollbar-thumb {
    background-color: #414141;
    border-radius: 30px;
}
.recently-added::-webkit-scrollbar-corner {
    background-color: #121212;
}

.recently-added {
    border-bottom: #414141 solid 2px;
    height: auto;
    width: auto;
    display: grid;
    grid-auto-flow: column;
    overflow: auto;
    margin-left: 1em;
}

.events {
    /*border-bottom: #414141 solid 2px;*/
    height: auto;
    width: auto;
    display: grid;
    grid-auto-flow: column;
    overflow: auto;
    margin-left: 1em;
}

p {
    margin: 0.25em;
}
.items {
    height: 9em;
    width: auto;
    display: grid;
    grid-template-columns: repeat(6,1fr);
    gap: 1em;
    overflow: hidden;
    margin: 1em;
}
.items > div > img {
    width: 9em;
    height: 9em;
    object-fit: cover;
    border-radius: 1em;
}

.items > div > div {
    height: 50%;
    margin: 1em;
    color: #2699FB;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.items > div {
    background: #121212;
    border-radius: 1em;
    width: 9em;
    height: 9em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
#item {
    width: 9em;
    height: 9em;
    background: #121212;
    margin: 0 1em 0 0;
}

#stylization {
    display: grid;
    grid-template: auto 1fr / auto 1fr;
    height: 12em;
    background: #121212;
    border-radius: 1em;
}
.collection {
    display: flex;
    flex-direction: row;
}
.stylization {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    background: #121212;
    width: 12em;
    border-radius: 1em;
    margin-right: 1em;
}
.collections {
    height: auto;
    width: auto;
    margin: 1em;
    display: flex;
    flex-direction: row;
}
.collections > div > div > img {
    height: 6em;
    width: 6em;
    object-fit: cover;
    border-radius: 1em;
}


@media only screen and (max-device-width: 420px) {
    .recently-added, .collections, .events, .favourite-shops{
        width: 90%;
        height: 30vh;
    }
}