.recently-added::-webkit-scrollbar {
    width: 0.8em;
    height: 0.8em;
}

.recently-added::-webkit-scrollbar-track {
    background-color: black;
}

.recently-added::-webkit-scrollbar-thumb {
    background-color: #ff9100;
    border-radius: 30px;
    -webkit-box-shadow: inset 0 0 5px #000000;
}
.recently-added::-webkit-scrollbar-corner {
    background-color: black;
}

.recommendations, .loyalty-cards, .favourite-shops{
    background: #000000;
    border: #585858 solid 1px;
    height: 20%;
    display: grid;
    grid-auto-flow: column;
    padding: 2em;
    overflow: auto;

}
p {
    margin: 0.25em;
}
.recently-added {
    background: #000000;
    border: #585858 solid 1px;
    height: 20%;
    display: grid;
    grid-auto-flow: column;
    padding: 2em;
    overflow: auto;
}

#item {
    width: 9em;
    height: 9em;
    background: #ff9100;
    margin: 0 1em 0 0;
}

@media only screen and (max-device-width: 420px) {
    .recently-added, .recommendations, .loyalty-cards, .favourite-shops{
        width: 90%;
        height: 30vh;
    }
}