.container {
    width: 100vw;
    height: 100vh;
    background: #202124;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.theme {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.logo {
    margin-top: 1em;
    width: 100%;
    text-align: center;
}

.title {
    text-align: center;
    font-size: 5em;
    color: white;
    margin-top: 0.4em;
}

.subtitle {
    text-align: center;
    font-size: 2em;
    color: white;
    margin-top: 0.4em;
}

p {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

.login-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #414141 0% 0% no-repeat padding-box;
    border-radius: 2em;
    margin: 1em;
    padding: 1em;
}

form.login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.login2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

button {
    Background: #121212;
    border-radius: 19px;
    width: 12em;
    border: none;
    color: white;
    Margin: 0.5em;
    line-height: 2.5em;
}

button:hover {
    background: orange;
}

input {
    background: white;
    border: #404040FF solid 1px;
    border-radius: 0.5em;
    padding: 1em;
    margin: 1em;
    width: 50%;
}

.messages {
    color: red;
}

@media only screen and (max-device-width: 420px) {
    .container {
        flex-direction: column;
    }

    * {
        font-size: 36px;
    }

    .login-container,
    .logo {
        width: 100%;
    }

    form {
        margin: auto;
    }

    img {
        height: 7em;
        margin: 2em;
    }
}