body::-webkit-scrollbar {
    width: 0.8em;
    height: 0.8em;
}

body::-webkit-scrollbar-track {
    background-color: #121212;
}

body::-webkit-scrollbar-thumb {
    background-color: #414141;
    border-radius: 30px;
}
body::-webkit-scrollbar-corner {
    background-color: #121212;
}

body {
    text-align: center;
    margin: 0 auto;
}

.container{
    height: auto;
    background: #202124;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    border-bottom: #404040 solid 4px;
}

header{
    width: 100%;
    overflow: hidden;
}

header h1 {
    margin:0;
}

.fa-search {
    background: #404040FF;
    color: #ffffff;
    padding: 0.5em;
    font-size: 1em;
}
header h1 a {
    font-size: 1.8em;
    color: #ffffff;
}

.searchbar {
    display: flex;
    justify-content: center;
    margin-right: 1em;
}
.fas {
    border-radius: 0 0.5em 0.5em 0;
}
header input{
    width: 20%;
    height: 2em;
    background: white;
    text-align: start;
    font-size: 1em;
    border: #404040FF solid 1px;
    border-radius: 0.5em 0 0 0.5em;
}

header nav {
    width: 100%;
}
header nav ul {
    list-style: none;
    color: white;
}
header nav ul li a {
    text-decoration: none;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10vw;
    height: 3em;
}

header nav ul li a:hover {
    background: #404040;
    border-radius: 2em 2em 0 0;
}

#active {
    background-color: #414141;
    border-radius: 2em 2em 0 0;
}

.avatar {
    height: 2em;
    width: 2em;
    border-radius: 50%;
    border: 2px solid #121212;
    margin-left: 0.5em;
}

.logo {
    margin-top: 0.5em;
    height: 3em;
}

.nav-list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0.5em 0 0 0;
    border-bottom: #404040 solid 4px;
    padding: 0 1em;
}



.container2{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    overflow: visible;
    justify-content: center;
}

.quick-access{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 15%;
    height: 100vh;
    overflow: visible;
    border-right: #404040 solid 2px;
}

.clipboard{
    background: #414141;
    border-radius: 1em;
    width: 12em;
    height: 20em;
    color: white;
}


.content{
    width: 85%;
    background: #202124;
}

.footer{
    height: 5em;
    Background: #000000;
}

button{
    background: none;
    border: none;
    width: 12em;
    color: white;
    margin: 0.5em 0 0.5em 0;
    line-height: 2.5em;
    font-size: 1em;
}
button:hover{
    Background: #404040;
    border-radius: 1em;
}

@media only screen and (max-device-width: 420px) {
    .container {
        flex-direction: column;
    }
    * {
        font-size: 36px;
    }
}