body {
    text-align: center;
    margin:0;
}

a {
    text-decoration: none;
    display: inline-block;
    line-height: 2em;
}

.container{
    width: 100vw;
    background: black;
    display: flex;
    flex-direction: column;
}

.navigation{
    background: #000000;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    height: 2.5em;
}

.container2{
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 100vh;
    background: #000000;
    justify-content: center;
}

.quick-access{
    background: #000000;
    width: 12em;
}

.clipboard{
    background: #585858;
    width: 90%;
    height: 30vh;
}

.quick-add{
    width: 90%;
    margin-top: 1em;
}

.calendar{
    background: #585858;
    width: 90%;
    height: 30vh;
}

.add-event{
    width: 90%;
    margin-top: 1em;
}

.content{
    width: 70em;
}

.footer{
    width: 100vw;
    height: 5em;
    Background: transparent linear-gradient(180deg, #130902 0%, #ff9100 100%) 0% 0% no-repeat padding-box;
}

button{
    Background: transparent linear-gradient(180deg, #ff9100 0%, #9d500d 100%) 0% 0% no-repeat padding-box;
    box-shadow: 0 3px 6px #00000029;
    border-radius: 19px;
    width: 10em;
    border: none;
    color: white;
    Margin-top: 0.5em;
    Margin-bottom: 0.5em;
    line-height: 2.5em;
}

@media only screen and (max-device-width: 420px) {
    .container {
        flex-direction: column;
    }
    * {
        font-size: 36px;
    }
}