.container {
    width: 100vw;
    height: 100vh;
    background: black;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.theme {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.logo {
    margin-top: 1em;
    width: 100%;
    text-align: center;
}

.title {
    text-align: center;
    font-size: 5em;
    color: white;
    margin-top: 0.4em;
}

.subtitle {
    text-align: center;
    font-size: 2em;
    color: white;
    margin-top: 0.4em;
}

.register3 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.register-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgba(255, 255, 255, 0.68) 0% 0% no-repeat padding-box;
    box-shadow: 0px 6px 6px rgba(255, 255, 255, 0.29);
    border-radius: 33px;
    margin: 1em;
    padding: 1em;
}

form.register {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.register1{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 80%;
}
.register2{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 80%;
}

button {
    Background: transparent linear-gradient(180deg, #00ffeb 0%, #009a8e 100%) 0% 0% no-repeat padding-box;
    box-shadow: 0 3px 6px #00000029;
    border-radius: 19px;
    width: 12em;
    border: none;
    color: white;
    Margin: 0.5em;
    line-height: 2.5em;
}

input {
    background-color: transparent;
    border: 1px solid #1e1e1e;
    padding: 1em;
    margin: 1em;
    width: 50%;
}

p{
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

@media only screen and (max-device-width: 420px) {
    .container {
        flex-direction: column;
    }
    * {
        font-size: 36px;
    }
    .register-container,
    .logo {
        width: 100%;
    }
    form {
        margin: auto;
    }
    img {
        height: 7em;
        margin: 2em;
    }
}