.container {
    width: 100vw;
    height: 100vh;
    background: linear-gradient(#121212 0%, #202124 80%);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.theme {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.logo {
    margin-top: 1em;
    width: 100%;
    text-align: center;
}

.title {
    text-align: center;
    font-size: 5em;
    margin-top: 0.4em;
    font-weight: normal;
    font-family: "Lithos Pro Regular";
    color: #ff9100;
}

.subtitle {
    text-align: center;
    font-size: 2em;
    color: white;
}

.register3 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.register-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #414141;
    border-radius: 33px;
    margin: 1em;
    padding: 1em;
}

form.register {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.register1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 80%;
}

.register2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 80%;
}

button {
    Background: #121212;
    border-radius: 19px;
    width: 12em;
    border: none;
    color: #ff9100;
    Margin: 0.5em;
    line-height: 2.5em;
}

.messages {
    color: red;
}

button:hover {
    color: black;
    background: orange;
}

input {
    background: white;
    border: #404040FF solid 1px;
    border-radius: 0.5em;
    padding: 1em;
    margin: 1em;
    width: 50%;
}

p {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

.no-valid {
    border: 2px solid red;
    color: red;
    box-shadow: 0 0 0.2em red;
}

@media only screen and (max-device-width: 420px) {
    .container {
        flex-direction: column;
    }

    * {
        font-size: 36px;
    }

    .register-container,
    .logo {
        width: 100%;
    }

    form {
        margin: auto;
    }

    img {
        height: 7em;
        margin: 2em;
    }
}