.categories::-webkit-scrollbar {
    width: 0.5em; height: 0.5em;
}
.categories::-webkit-scrollbar-track {
    background-color: #121212;
}
.categories::-webkit-scrollbar-thumb {
    background-color: #414141;
    border-radius: 30px;
}
.categories::-webkit-scrollbar-corner {
    background-color: #121212;
}
.wardrobes::-webkit-scrollbar {
    width: 0.5em; height: 0.5em;
}
.wardrobes::-webkit-scrollbar-track {
    background-color: #121212;
}
.wardrobes::-webkit-scrollbar-thumb {
    background-color: #414141;
    border-radius: 30px;
}
.wardrobes::-webkit-scrollbar-corner {
    background-color: #121212;
}
.searchbar
{
    display: flex;
    justify-content: start;
    margin-top: 1em;
    margin-left: 1em;
}
.fas {
    border-radius: 0 1em 1em 0;
}
.fa-search
{
    background: #404040FF;
    color: #ffffff;
    padding: 0.5em;
    font-size: 1em;
}
input
{
    width: 20%;
    height: 2em;
    background: white;
    text-align: start;
    font-size: 1em;
    border: #404040FF solid 1px;
    border-radius: 1em 0 0 1em;
}
p {
    margin: 0.25em;
}

.wardrobes {
    height: auto;
    width: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    overflow: auto;
    background: #414141;
    border-radius: 0 0 3em 3em;
}

.categories {
    height: auto;
    width: auto;
    display: grid;
    grid-template-columns: repeat(20,1fr);
    overflow: auto;
    margin-left: 1em;
    margin-right: 1em;
    align-items: center;
}
.items {
    height: auto;
    width: auto;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 1em;
    overflow: auto;
    margin: 1em;
}
#ward {
    width: auto;
    height: auto;
    padding: 0.5em 4em 0.5em 4em;
}
#ward:hover {
    background: #121212;
    border-radius:1em;
}

.categories > p {
    margin: 0.25em;
    width: auto;
    height: auto;
    padding: 0.5em 2em 0.5em 2em;
}
.categories > p:hover {
    background: #404040;
    border-radius: 1em;
}

#active2 {
    background: #404040;
    border-radius: 1em;
}

.items > div > img {
    height: 15em;
    width: 15em;
    object-fit: cover;
    border-radius: 1em 1em 0 0;
}

.items > div > div {
    height: 50%;
    margin: 1em;
    color: #2699FB;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.details {
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: space-between;
    width: 100%;
    height: auto;
    overflow: auto;
}

.items > div {
    background: #121212;
    border-radius: 1em 1em 0 0;
    height: auto;
    width: 15em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

@media only screen and (max-device-width: 420px) {

}